Successfully created song. <!-- Add Flash cababilities later -->
Successfully updated song. <!-- Add Flash cababilities later -->

<h1><%= @song.name %></h1>

Artist: <a href="/artists/<%= @artist.slug %>"><%= @artist.name %></a>
<br />

Generes:
<br />
<% @song.genres.each do |g| %>
  <a href="/genres/<%= g.slug %>"><%= g.name %>
  <br />
<% end %>
